{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
<link rel="stylesheet" href="../static/styles/login.css" />
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <form method="post" class="box">
            <h1 class="title has-text-centered">Zaloguj się</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="field">
              <button type="submit" class="button is-success is-fullwidth">Zaloguj się</button>
            </div>
          </form>
          <p class="has-text-centered">
            <a href="{% url 'register' %}">Nie masz konta? Zarejestruj się!</a>
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}