{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/styles/main.css" />
<section class="section">
  <div class="container">
    <table class="table is-fullwidth is-striped is-hoverable">
      <thead>
        <tr>
          <th>Gym</th>
          <th>Trainer</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for reservation in active_reservations %}
        <tr>
          <td>{{ reservation.gym_name }}</td>
          <td>{{ reservation.trainer_id }}</td>
          <td>
            <div class="select is-fullwidth">
              <select name="trainer_ID">
                {% for trainer_id, trainer_name in trainer_choices %}
                <option value="{{ trainer_id }}" {% if trainer_id == reservation.trainer_ID %}selected{% endif %}>{{ trainer_name }}</option>
                {% endfor %}
              </select>
            </div>
          </td>
          <td>
            <form method="post">
              {% csrf_token %}
              <input type="hidden" name="reservation_id" value="{{ reservation.reservation_ID }}">
              <button class="button is-link" type="submit" name="update">Update</button>
              <button class="button is-danger" type="submit" name="cancel">Cancel Reservation</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
